@import 'primeicons/primeicons.css';
@import 'tailwindcss';

/* @import '@/assets/css/themes/lara/lara-light/amber/theme.css'; */
@import '@/assets/css/themes/lara/lara-light/teal/theme.css';


/* @import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact); /
@layer base, primereact, components, utilities;
/* @layer tailwind-base, primereact, tailwind-utilities;
@import '@/assets/css/themes/lara/lara-light/amber/theme.css';
@layer tailwind-base {
  @tailwind base;
}
@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
} */
 

@theme {
    --color-primary-50: var(--color-teal-50);
    --color-primary-100: var(--color-teal-100);
    --color-primary-200: var(--color-teal-200);
    --color-primary-300: var(--color-teal-300);
    --color-primary-400: var(--color-teal-400);
    --color-primary-500: var(--color-teal-500);
    --color-primary-600: var(--color-teal-600);
    --color-primary-700: var(--color-teal-700);
    --color-primary-800: var(--color-teal-800);
    --color-primary-900: var(--color-teal-900);
    --color-primary-950: var(--color-teal-950);

    --color-primary: var(--color-teal-400);
    --color-header: var(--color-stone-950);
    --color-header-text: var(--color-teal-50);
    --color-error: var(--color-red-500);
    --color-highlight: var(--color-primary-200);
    --color-bg-form: var(--color-stone-50);
}
@layer theme {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-stone-600);
    }
}
